.header{
    padding: 3rem;
}
.inner-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 20px;
    margin: 0 10px;
    position: relative;
}
.nav-link::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: gray;
    z-index: 1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}
.nav-link:hover::before{
    transform-origin: left;
    transform: scaleX(1);
    
}
.active::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
    z-index: 1;
}

