body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
      background-color: black;
      color: white;
}
.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
